<!doctype html>
{% load static %}
<html lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="Cache-Control" content="no-cache" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
      <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" type="text/css">
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <title>{{ content }}</title>
  </head>
  <body>
    <div class="container" id="container">
        <h1 style="text-align: center">城市菜市场社区配套服务评价工具</h1>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">{{ logo }}</a>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                  <li id="store_id" value="首页"><a href="{% url 'mygis:gis' %}">首页</a></li>
                  <!-- <li id="food_id" value="菜品"><a href="/kindfood">菜品</a></li> -->
                  <li id="community_id" value="信息更新"><a href="{% url 'mygis:updatemessage' %}">信息更新</a></li>
                  <li id="message_id" value="信息审核"><a href="{% url 'mygis:checkmessage' %}">信息审核</a></li>
                  <li id="message_id" value="信息管理"><a href="{% url 'mygis:message_manage' %}">信息管理</a></li>
                </ul>

                <!-- <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入信息...." id="search_var_id">
                  </div>
                  <button type="submit" class="btn btn-default" id="search_id">查询</button>
                </form> -->
                <ul class="nav navbar-nav navbar-right">
                    
                    {% if user.is_authenticated %}
                    <li><a href="#">{{ user.username }}</a></li>
                    <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'logout' %}">注销</a></button>
                    {% else %}
                    <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'login' %}">登录</a></button>
                    {% endif %}
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          <ol class="breadcrumb">
            <li><a href="{% url 'mygis:gis' %}" id="first_daohang">首页</a></li>
            <!-- <li id="second_daohang"><a href="{% url 'mygis:checkmessage' %}" id="second_a_daohang">信息审核</a></li> -->
            <li class="active" id="third_daohang">{{ content }}</li>
          </ol>

          <ul class="nav nav-stacked col-md-2">
              <li role="presentation" class="active col-md-10 bg-success" value="菜市场审核"><a href="{% url 'mygis:checkmarketfood' %}">菜市场审核</a></li>
              <li role="presentation" class="col-md-10 bg-success" value="小区审核"><a href="{% url 'mygis:querycommunitymessage' %}">小区审核</a></li>
             
            </ul>
          
    </div>
  </body>
</html>