<!-- 菜市场问卷展示详情 -->
{% load static %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>
    <head>
        <title>{{ message }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}"/>
        <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "js/checktarget.js" %}"></script>
        <!-- <script src="{% static "js/addtanwei.js" %}"></script>
        <script src="{% static "js/checktanwei.js" %}"></script> -->
           <!-- 引入layer实现弹出层效果 -->
        <script src="{% static "layer/layer.js" %}"></script>  
    </head>
    <body>

        <div class="container">
            <h1 style="text-align: center">城市菜市场社区配套服务评价工具</h1>
        <nav class="navbar navbar-default navbar-inverse">
            {% if user.username != 'admin' %}
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">{{ logo }}</a>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                  <li id="store_id"><a href="{% url 'mygis:marketmessage_user' %}">菜市场</a></li>
                  <li id="food_id"><a href="{% url 'mygis:querycommunitymessage' %}">小区</a></li>
                  <li id="community_id"><a href="#">餐馆</a></li>
                </ul>

                <!-- <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入信息...." id="search_var_id">
                  </div>
                  <button type="submit" class="btn btn-default" id="search_id">查询</button>
                </form> -->

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="#">{{ user.username }}</a></li>
                    <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'logout' %}">注销</a></button>
                    {% else %}
                    <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'login' %}">登录</a></button>
                    {% endif %}
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            {% else %}
            <!-- 管理员 -->
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">{{ logo }}</a>
                </div>
  
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav ">
                    <li id="store_id" value="首页"><a href="{% url 'mygis:gis' %}">首页</a></li>
                    <!-- <li id="food_id" value="菜品"><a href="/kindfood">菜品</a></li> -->
                    <li id="community_id" value="信息更新"><a href="{% url 'mygis:updatemessage' %}">信息更新</a></li>
                    <li id="message_id" value="信息审核"><a href="{% url 'mygis:checkmessage' %}">信息审核</a></li>
                    <li id="message_id" value="信息管理"><a href="{% url 'mygis:message_manage' %}">信息管理</a></li>
                  </ul>
  
                  <!-- <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="请输入信息...." id="search_var_id">
                    </div>
                    <button type="submit" class="btn btn-default" id="search_id">查询</button>
                  </form> -->
                  <ul class="nav navbar-nav navbar-right">
                      
                      {% if user.is_authenticated %}
                      <li><a href="#">{{ user.username }}</a></li>
                      <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'logout' %}">注销</a></button>
                      {% else %}
                      <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'login' %}">登录</a></button>
                      {% endif %}
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            {% endif %}
          </nav>

          <ol class="breadcrumb">
            <li><a href="{% url 'mygis:gis' %}" id="first_daohang">首页</a></li>
            <li><a href="{% url 'mygis:marketmessage_user' %}">{{ content }}</a></li>
            <li><a href="{% url 'mygis:marketmessage_user' %}?page={{ page }}">{{ market_name }}</a></li>
            <li class="active" id="second_daohang">{{ message }}</li>
          </ol>

          <ul class="nav nav-stacked col-md-2" style="height:237px">
            <li role="presentation" class="active col-md-10 bg-success" value="价格信息"><a href="{% url 'mygis:marketdetail' %}?page={{ page }}&market_name={{ market_name }}">{{ foodadd }}</a></li>
            <li role="presentation" class="active col-md-10 bg-success" value="流量与摊位"><a href="{% url 'mygis:marketmessages' %}?page={{ page }}&market_name={{ market_name }}">{{ people_tanwei }}</a></li>
            <li role="presentation" class="col-md-10 bg-success" value="问卷调查"><a href="{% url 'mygis:marketdetailasses' %}?page={{ page }}&market_name={{ market_name }}">{{ message }}</a></li>
        </ul>
          <!-- something here -->
          <table class="table table-hover table-bordered" style="width: 900px">
              <caption style="text-align: center">{{ market_name }}</caption>
              <thead >
                <tr>
                  <!-- <th>编号</th> -->
                  <th style="text-align: center" >乱认杂物</th>
                  <th style="text-align: center" >摊位整洁</th>
                  <th style="text-align: center" >从业人员</th>
                  <th style="text-align: center" >厕所卫生</th>
                  <th style="text-align: center" >菜品新鲜</th>
                  <th style="text-align: center" >总评分</th>
                  <th style="text-align: center" >日期</th>
                  <th style="text-align: center" >状态</th>
                </tr>
              </thead>
              <div id="market_name">{{ market_name }}</div>
              <div id="page">{{ page }}</div>
              <div id="pages">{{ pages }}</div>
              {% for key in cus_list %}
              <tr>
                <!-- <td style="text-align: center"><a href="{% url 'mygis:marketdetail' %}?page={{ page }}&market_name={{ key.market_name }}">{{ key.market_name }}</a></td> -->
                <td style="text-align: center">{{ key.lrzw }}</td>
                <td style="text-align: center">{{ key.twzj }}</td>
                <td style="text-align: center">{{ key.cyryywzj }}</td>
                <td style="text-align: center">{{ key.csws }}</td>
                <td style="text-align: center">{{ key.cpxxcd }}</td>
                <td style="text-align: center">{{ key.pingfen }}</td>
                <td style="text-align: center">{{ key.data_time }}</td>
                {% if user.username == 'admin' %}
                {% if key.check == '0' %}
                <td style="text-align: center">
                  <a class="btn btn-info btn-xs"  role="button" id="check_{{ key.target_id }}">审核</a>
                </td>
                {% else %}
                <td style="text-align: center">
                    已审核
                  </td>
                {% endif %}
                {% endif %}

                {% if user.username != 'admin' %}
                {% if key.check == '0' %}
                <td style="text-align: center">
                  未审核
                </td>
                {% else %}
                <td style="text-align: center">
                    已审核
                  </td>
                {% endif %}
                {% endif %}
              
              </tr>
              {% endfor %}
                <!-- <tr>
                <td style="text-align: center">无 </td>
                <td style="text-align: center">无</td>
                <td style="text-align: center">无</td>
                
                
               
              </tr> -->
          </table>
          <nav aria-label="Page navigation">
              <ul class="pagination">
                <!-- 如果当前页有上一页 -->
                {% if customer.has_previous %}      
                <!-- {{ cur_list.previous_page_number }} -->
                <!-- 当前页的上一页按钮正常使用 -->
                <li>
                  <a href="?page={{ customer.previous_page_number }}&market_name={{ market_name }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% else %}
                <!-- 当前页不存在上一页时 上一页按钮不可用-->
                <li>
                    <li class="previous disabled"><a href="#" ><span aria-hidden="false">&laquo;</span></a></li>
                    </a>
                  </li>
                {% endif %}
                
                <!-- <li class="active"><a href="#" >1<span class="sr-only">(current)</span></a></li> -->
                <!-- 页码开始 -->
            
                {% for num in paginator.page_range %}
              
                {% if num == page %}
                
                <li class="item"><a href="?page={{ num }}&market_name={{ market_name }}" >{{ num }}</a></li>
                {% else %}
                
                <li class="item"><a href="?page={{ num }}&market_name={{ market_name }}" >{{ num }}</a></li>
                {% endif %}
                {% endfor %}
                <!-- 当前页是否有下一页 -->
                {% if customer.has_next %}
                <li>
                  <a href="?page={{ customer.next_page_number }}&market_name={{ market_name }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% else %}
                <li  class="next disabled">
                    <a href="#" aria-label="Next">
                      <span aria-hidden="false">&raquo;</span>
                    </a>
                  </li>
                {% endif %}
                {% if user.username != 'admin' %}
                <button class="btn btn-info btn-xs"  role="button" id="add_{{ market_id }}" style="margin-left: 728px;">添加</button>
                  {% endif %}
              </ul>
            </nav>

            
        <!-- <button type="button" class="btn btn-primary col-sm-offset-8">编辑</button> -->
    </div>
      </body>
</html>