<!doctype html>
{% load static %}
<html lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="Cache-Control" content="no-cache" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
      <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/gis.css" %}" type="text/css">
    <style>
      .map {
        height: 450px;
        /* width: 100%; */
        margin-left: 192px;
      }
    </style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/showmarket.js" %}"></script>
    <script src="{% static "city/js/distpicker.data.js" %}"></script>
	  <script src="{% static "city/js/distpicker.js" %}"></script>
    <script src="{% static "city/js/main.js" %}"></script>
    <script src="{% static "heatmap.js-2.0.5/build/heatmap.js" %}"></script>
    <script src="{% static "heatmap.js-2.0.5/build/heatmap.min.js" %}"></script>
    <script src="{% static "heatmap.js-2.0.5/plugins/leaflet-heatmap/leaflet-heatmap.js" %}"></script>
    <!-- 引入layer实现弹出层效果 -->
    <script src="{% static "layer/layer.js" %}"></script>
    <title>{{ content }}</title>
  </head>
  <body>
    <div class="container">
        <h1 style="text-align: center">城市菜市场社区配套服务评价工具</h1>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">{{ logo }}</a>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                  <li id="store_id" value="首页"><a href="{% url 'mygis:gis' %}">首页</a></li>
                  <!-- <li id="food_id" value="菜品"><a href="/kindfood">菜品</a></li> -->
                  <li id="community_id" value="信息更新"><a href="{% url 'mygis:updatemessage' %}">信息更新</a></li>
                  <li id="message_id" value="信息审核"><a href="{% url 'mygis:checkmessage' %}">信息审核</a></li>
                  <li id="message_id" value="信息管理"><a href="{% url 'mygis:message_manage' %}">信息管理</a></li>
                </ul>

                <!-- <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入信息...." id="search_var_id">
                  </div>
                  <button type="submit" class="btn btn-default" id="search_id">查询</button>
                </form> -->
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="#">{{ user.username }}</a></li>
                    <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'logout' %}">注销</a></button>
                    {% else %}
                    <button type="button" class="btn btn-default navbar-btn"><a href="{% url 'login' %}">登录</a></button>
                    {% endif %}
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          <ol class="breadcrumb">
            <li><a href="{% url 'mygis:gis' %}" id="first_daohang">首页</a></li>
            <li><a href="{% url 'mygis:message_manage' %}" id="second_daohang">信息管理</a></li>
            <li class="active" id="third_daohang">{{ content }}</li>
          </ol>
          <ul class="nav nav-stacked col-md-2">
            <li role="presentation" class="active col-md-10 bg-success" value="指标查看"><a href="{% url 'mygis:message_manage' %}">指标查看</a></li>
            <li role="presentation" class="col-md-10 bg-success" value="菜品查看"><a href="{% url 'mygis:marketsearchbyfood' %}">菜品查看</a></li>
           
          </ul>
          <!-- <ul class="nav nav-stacked col-md-2">
              <li role="presentation" class="active col-md-10 bg-success" value="菜市场查看"><a href="{% url 'mygis:updatemessage' %}">菜市场查看</a></li>
              <li role="presentation" class="col-md-10 bg-success" value="菜品发布"><a href="{% url 'mygis:marketfoodedit' %}">小区查看</a></li>
              <li role="presentation" class="col-md-10 bg-success" value="菜品发布"><a href="{% url 'mygis:marketfoodsearch' %}">参观查看</a></li>
              <li role="presentation" class="col-md-10 bg-success" value="信息审核"><a href="{% url 'mygis:verifymessage' %}">评价查看</a></li>
          </ul> -->
          
          <!-- <form class="form-inline" action="#" method="POST"> -->
            {% csrf_token %}
          <div data-toggle="distpicker">
            <div class="form-group col-md-2">
              <label class="sr-only" for="province2">Province</label>
              <select class="form-control" id="province2" data-province="---- 选择省 ----"></select>
            </div>
            <div class="form-group col-md-2">
              <label class="sr-only" for="city2">City</label>
              <select class="form-control" id="city2" data-city="---- 选择市 ----"></select>
            </div>
            <div class="form-group col-md-2">
              <label class="sr-only" for="district2">District</label>
              <select class="form-control" id="district2" data-district="---- 选择区 ----"></select>
            </div>
            <!-- <button class="btn btn-default" type="submit" id="market_com">基于社区</button> -->
            <a  class="btn btn-default" id="btn_search" href="{% url 'mygis:marketsearchbycom' %}?">
                基于餐馆
            </a>
            <!-- <button class="btn btn-default" type="submit" id="market_can">基于餐馆</button> -->
            <a  class="btn btn-default" id="btn_search_1" href="{% url 'mygis:marketsearchbycan' %}?">
                基于社区
            </a>
            <!-- <button class="btn btn-default" type="submit" id="#">确定</button> -->
          </div>
          <!-- </form> -->

          <div id="map" class="map">
            <!-- popup标记 -->
            <!-- <div id="heatmap" style="width: 100px; height: 100px;"></div> -->
            <div id="popup" class="ol-popup" style="display: none;">
              <div id="popup-title"></div>
              <!-- <a></a> -->
              <div id="popup-content" class="popup-content"></div>
            </div>
          </div>
          <div id="heatmap"></div>
    </div>
    <script>
      $('#btn_search').bind({
        mouseenter:function(){
          var province = $('#province2').val();
          var city = $('#city2').val();
          var district = $('#district2').val(); 
          var href = $('#btn_search').attr('href')+'p='+province+'&c='+city+'&d='+district
          $('#btn_search').attr('href',href)  
        },
        click:function(){
          
        }
      })
     
      $('#btn_search_1').bind({
        mouseenter:function(){
          var province = $('#province2').val();
          var city = $('#city2').val();
          var district = $('#district2').val(); 
          var href = $('#btn_search_1').attr('href')+'p='+province+'&c='+city+'&d='+district
          $('#btn_search_1').attr('href',href)  
        },
        click:function(){
          
        }
      })
    </script>
  </body>
</html>